In [1]:
import pandas as pd
import numpy as np

In [2]:
fake=pd.read_csv(r'C:\Users\m_vivekanandan\OneDrive - INFOTEL CONSEIL\Desktop\madmi\python\Fake_news_d\Fake.csv')
real=pd.read_csv(r'C:\Users\m_vivekanandan\OneDrive - INFOTEL CONSEIL\Desktop\madmi\python\Fake_news_d\True.csv')

In [3]:
fake

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"
...,...,...,...,...
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016"
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016"
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016"
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016"
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016"

In [4]:
real

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"
...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017"
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017"
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017"
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017"
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017"

In [5]:
fake.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23481 entries, 0 to 23480
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    23481 non-null  object
 1   text     23481 non-null  object
 2   subject  23481 non-null  object
 3   date     23481 non-null  object
dtypes: object(4)
memory usage: 733.9+ KB

In [6]:
fake.isnull().sum()

title      0
text       0
subject    0
date       0
dtype: int64

In [191]:
real.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21417 entries, 0 to 21416
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    21417 non-null  object
 1   text     21417 non-null  object
 2   subject  21417 non-null  object
 3   date     21417 non-null  object
dtypes: object(4)
memory usage: 669.4+ KB

In [192]:
real.isnull().sum()

title      0
text       0
subject    0
date       0
dtype: int64

In [7]:
fake["target"]=0
real["target"]=1

In [194]:
real.head(5)

,title,text,subject,date,target
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

In [195]:
fake.shape,real.shape

((23481, 5), (21417, 5))

In [8]:
fake_test=fake.tail(10)
real_test=real.tail(10)

In [9]:
for i in range(23480,23470,-1):
    fake.drop([i], axis = 0, inplace = True)
for i in range(21416,21406,-1):
    real.drop([i], axis = 0, inplace = True)

In [26]:
fake.shape,real.shape

((23471, 5), (21407, 5))

In [28]:
a=fake_test.head(1)

In [ ]:
d=a["text"]
d

23471    21st Century Wire says This week, the historic...
Name: text, dtype: object

:

In [199]:
real_test

,title,text,subject,date,target
21407,"Mata Pires, owner of embattled Brazil builder ...","SAO PAULO (Reuters) - Cesar Mata Pires, the ow...",worldnews,"August 22, 2017",1
21408,"U.S., North Korea clash at U.N. forum over nuc...",GENEVA (Reuters) - North Korea and the United ...,worldnews,"August 22, 2017",1
21409,"U.S., North Korea clash at U.N. arms forum on ...",GENEVA (Reuters) - North Korea and the United ...,worldnews,"August 22, 2017",1
21410,Headless torso could belong to submarine journ...,COPENHAGEN (Reuters) - Danish police said on T...,worldnews,"August 22, 2017",1
21411,North Korea shipments to Syria chemical arms a...,UNITED NATIONS (Reuters) - Two North Korean sh...,worldnews,"August 21, 2017",1
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [10]:
df_test=pd.concat([fake_test,real_test],axis=0)

In [201]:
df_test

,title,text,subject,date,target
23471,Seven Iranians freed in the prisoner swap have...,"21st Century Wire says This week, the historic...",Middle-east,"January 20, 2016",0
23472,#Hashtag Hell & The Fake Left,By Dady Chery and Gilbert MercierAll writers ...,Middle-east,"January 19, 2016",0
23473,Astroturfing: Journalist Reveals Brainwashing ...,Vic Bishop Waking TimesOur reality is carefull...,Middle-east,"January 19, 2016",0
23474,The New American Century: An Era of Fraud,Paul Craig RobertsIn the last years of the 20t...,Middle-east,"January 19, 2016",0
23475,Hillary Clinton: ‘Israel First’ (and no peace ...,Robert Fantina CounterpunchAlthough the United...,Middle-east,"January 18, 2016",0
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016",0
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016",0
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016",0
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016",0
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016",0
21407,"Mata Pires, owner of embattled Brazil builder ...","SAO PAULO (Reuters) - Cesar Mata Pires, the ow...",worldnews,"August 22, 2017",1
21408,"U.S., North Korea clash at U.N. forum over nuc...",GENEVA (Reuters) - North Korea and the United ...,worldnews,"August 22, 2017",1
21409,"U.S., North Korea clash at U.N. arms forum on ...",GENEVA (Reuters) - North Korea and the United ...,worldnews,"August 22, 2017",1
21410,Headless torso could belong to submarine journ...,COPENHAGEN (Reuters) - Danish police said on T...,worldnews,"August 22, 2017",1
21411,North Korea shipments to Syria chemical arms a...,UNITED NATIONS (Reuters) - Two North Korean sh...,worldnews,"August 21, 2017",1
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [11]:
df_train=pd.concat([fake,real],axis=0)
df_train

,title,text,subject,date,target
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
...,...,...,...,...,...
21402,Exclusive: Trump's Afghan decision may increas...,ON BOARD A U.S. MILITARY AIRCRAFT (Reuters) - ...,worldnews,"August 22, 2017",1
21403,U.S. puts more pressure on Pakistan to help wi...,WASHINGTON (Reuters) - The United States sugge...,worldnews,"August 21, 2017",1
21404,Exclusive: U.S. to withhold up to $290 million...,WASHINGTON (Reuters) - The United States has d...,worldnews,"August 22, 2017",1
21405,Trump talks tough on Pakistan's 'terrorist' ha...,ISLAMABAD (Reuters) - Outlining a new strategy...,worldnews,"August 22, 2017",1
21406,"U.S., North Korea clash at U.N. forum over nuc...",GENEVA (Reuters) - North Korea and the United ...,worldnews,"August 22, 2017",1

In [12]:
df = df_train.drop(["title","subject","date"],axis=1)

In [204]:
df

                                                    text  target
0      Donald Trump just couldn t wish all Americans ...       0
1      House Intelligence Committee Chairman Devin Nu...       0
2      On Friday, it was revealed that former Milwauk...       0
3      On Christmas day, Donald Trump announced that ...       0
4      Pope Francis used his annual Christmas Day mes...       0
...                                                  ...     ...
21402  ON BOARD A U.S. MILITARY AIRCRAFT (Reuters) - ...       1
21403  WASHINGTON (Reuters) - The United States sugge...       1
21404  WASHINGTON (Reuters) - The United States has d...       1
21405  ISLAMABAD (Reuters) - Outlining a new strategy...       1
21406  GENEVA (Reuters) - North Korea and the United ...       1

[44878 rows x 2 columns]

In [205]:
df.isnull().sum()

text      0
target    0
dtype: int64

In [13]:
#suffling the data
df = df.sample(frac = 1)

In [207]:
df

                                                    text  target
5681   WASHINGTON (Reuters) - The Trump administratio...       1
578    According to a new report Saturday from Axios,...       0
14947  ISTANBUL (Reuters) - Turkish airline Atlasglob...       1
1902   Just like her dad, Ivanka Trump s hypocrisy kn...       0
1813   The New York Daily News is not known for subtl...       0
...                                                  ...     ...
779    WASHINGTON (Reuters) - Democrat Ralph Northam ...       1
6136   A pre-general election debate between Bernie S...       0
15048  LONDON (Reuters) - The European Union agreed t...       1
19157                                                          0
13683  Just remember, the woman who believes Hillary ...       0

[44878 rows x 2 columns]

In [14]:
df.reset_index(inplace = True)

In [209]:
df

       index                                               text  target
0       5681  WASHINGTON (Reuters) - The Trump administratio...       1
1        578  According to a new report Saturday from Axios,...       0
2      14947  ISTANBUL (Reuters) - Turkish airline Atlasglob...       1
3       1902  Just like her dad, Ivanka Trump s hypocrisy kn...       0
4       1813  The New York Daily News is not known for subtl...       0
...      ...                                                ...     ...
44873    779  WASHINGTON (Reuters) - Democrat Ralph Northam ...       1
44874   6136  A pre-general election debate between Bernie S...       0
44875  15048  LONDON (Reuters) - The European Union agreed t...       1
44876  19157                                                          0
44877  13683  Just remember, the woman who believes Hillary ...       0

[44878 rows x 3 columns]

In [15]:
df.drop(["index"], axis = 1, inplace = True)

In [211]:
df

                                                    text  target
0      WASHINGTON (Reuters) - The Trump administratio...       1
1      According to a new report Saturday from Axios,...       0
2      ISTANBUL (Reuters) - Turkish airline Atlasglob...       1
3      Just like her dad, Ivanka Trump s hypocrisy kn...       0
4      The New York Daily News is not known for subtl...       0
...                                                  ...     ...
44873  WASHINGTON (Reuters) - Democrat Ralph Northam ...       1
44874  A pre-general election debate between Bernie S...       0
44875  LONDON (Reuters) - The European Union agreed t...       1
44876                                                          0
44877  Just remember, the woman who believes Hillary ...       0

[44878 rows x 2 columns]

In [16]:
import re
import string
def word(text):
    text = text.lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub("\\W"," ",text) 
    text = re.sub('https?://\S+|www\.\S+', '', text)
    text = re.sub('<.*?>+', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\n', '', text)
    text = re.sub('\w*\d\w*', '', text)    
    return text

<>:5: SyntaxWarning: invalid escape sequence '\['
<>:7: SyntaxWarning: invalid escape sequence '\S'
<>:11: SyntaxWarning: invalid escape sequence '\w'
<>:5: SyntaxWarning: invalid escape sequence '\['
<>:7: SyntaxWarning: invalid escape sequence '\S'
<>:11: SyntaxWarning: invalid escape sequence '\w'
C:\Users\m_vivekanandan\AppData\Local\Temp\ipykernel_23092\282483000.py:5: SyntaxWarning: invalid escape sequence '\['
  text = re.sub('\[.*?\]', '', text)
C:\Users\m_vivekanandan\AppData\Local\Temp\ipykernel_23092\282483000.py:7: SyntaxWarning: invalid escape sequence '\S'
  text = re.sub('https?://\S+|www\.\S+', '', text)
C:\Users\m_vivekanandan\AppData\Local\Temp\ipykernel_23092\282483000.py:11: SyntaxWarning: invalid escape sequence '\w'
  text = re.sub('\w*\d\w*', '', text)

In [17]:
df['text'] = df['text'].apply(word)

In [18]:
df

                                                    text  target
0      rep  trey gowdy  chairman of the benghazi sele...       0
1      international leaders aren t making any secret...       0
2      nothing to see here just obama evening the pla...       0
3      hillary clinton is about to step up the fight ...       0
4      hillary clinton used a cnn interview on friday...       0
...                                                  ...     ...
44873  charlotte  n c   reuters    hillary clinton to...       1
44874  washington  reuters    the national rifle asso...       1
44875  tune in to the alternate current radio network...       0
44876  berlin  reuters    describing brexit as  nonse...       1
44877  what would you do if someone kept track of eve...       0

[44878 rows x 2 columns]

In [19]:
x = df["text"]
y = df["target"]

In [ ]:
x

0        joy reid is known for her racist slant on the ...
1        some   americans have died in afghanistan and ...
2        valletta  reuters     our donald   or  the oth...
3        cairo  reuters    egyptian security forces kil...
4          in nov  item  corrects third paragraph to sa...
                               ...
44873    washington  reuters    u s  president donald t...
44874    msnbc reporter kasie hunt began her segment on...
44875    chris cuomo tries to argue with the brilliant ...
44876    beirut  reuters    syria s army and its allies...
44877    quetta  pakistan  reuters    a suicide bomber ...
Name: text, Length: 44878, dtype: object

In [20]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [21]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorization = TfidfVectorizer()
xv_train = vectorization.fit_transform(x_train)
xv_test = vectorization.transform(x_test)

In [22]:
a=xv_train.toarray()

In [23]:
a

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [ ]:
print(type(xv_train))

<class 'scipy.sparse._csr.csr_matrix'>

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.pipeline import Pipeline
model = Pipeline([
    ('tfidf', TfidfVectorizer()),
    ('classifier', LogisticRegression())
])

In [ ]:
# Fit the model using raw text data (x_train) and target labels (y_train)
model.fit(x_train, y_train)

# Predict using raw text data (x_test)
y_pred = model.predict(x_test)

In [ ]:
accuracy_score(y_test,y_pred)

0.9887477718360071

In [ ]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99      4689
           1       0.99      0.99      0.99      4287

    accuracy                           0.99      8976
   macro avg       0.99      0.99      0.99      8976
weighted avg       0.99      0.99      0.99      8976

Model Testing

In [ ]:
def output_lable(n):
    if n == 0:
        return "Fake News"
    elif n == 1:
        return "Not A Fake News"
    
def manual_testing(news):
    testing_news = {"text":[news]}
    new_def_test = pd.DataFrame(testing_news)
    new_def_test["text"] = new_def_test["text"].apply(word) 
    new_x_test = new_def_test["text"]
    pred_LR = model.predict(new_x_test)
    return output_lable(pred_LR)

In [ ]:
news = "The US economy is booming, with record low unemployment and rising wages."
manual_testing(news)

'Fake News'

In [ ]:
import pickle
pickle.dump(model, open('Fake_model.pkl', 'wb'))